rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{userId} {
      // Cualquiera puede leer las fotos de perfil.
      allow read;
      
      // Solo el usuario autenticado puede escribir en su propia ruta de avatar.
      // También se comprueba el tipo de contenido de imagen y el límite de tamaño (< 2MB).
      allow write: if request.auth != null && 
                      request.auth.uid == userId &&
                      request.resource.size < 2 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');
    }
  }
}
